.channel {
  position: relative;
  padding: 15px;
  margin: 15px 0;
  border: 5px solid white;
}

.channel a {
  display: block;
  color: black;
}

.online { background: rgba(133, 153, 118, 1); }
.online:hover { background: rgba(133, 153, 118, .75); }
.offline:hover { background: rgba(87, 100, 111, .75); }
.offline { background: rgba(87, 100, 111, 1); }

.logo,
.info {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  width: 70px;
  margin-right: 10px;
  border-radius: 100%;
}

.info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.status {
  font-size: 14px;
  margin-bottom: 5px;
}

.info span { font-weight: bold; }

.record {
  color: red;
  margin-right: 5px;
  animation: fade 3s infinite ease-in;
}

@keyframes fade {
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}

.delete {
  position: absolute;
  font-size: 25px;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.delete:hover { color: red; }

@media (max-width: 768px) {
  .status { display: none; }
}
